- return unless can?(current_user, :read_target_branch_rule, @project)

%section.settings.merge-requests-feature.no-animate#target-branch-rules.expanded
  .settings-header
    %h4= _('Merge request branch workflow')

  .settings-content
    = render Pajamas::CardComponent.new(card_options: { class: 'gl-new-card js-toggle-container' }, header_options: { class: 'gl-new-card-header gl-flex-direction-column' }, body_options: { class: 'gl-new-card-body gl-px-0' }) do |c|
      - c.with_header do
        .gl-new-card-title-wrapper.gl-justify-content-space-between
          %h3.gl-new-card-title
            = _("Branch target")
            .gl-new-card-count
              = sprite_icon('branch', css_class: 'gl-mr-2')
              %span= @target_branch_rules&.total_count
          - if can?(current_user, :admin_target_branch_rule, @project)
            .gl-new-card-actions
              = render Pajamas::ButtonComponent.new(size: :small, button_options: { class: 'js-toggle-button js-toggle-content' }) do
                = _('Add branch target')
        .gl-new-card-description.gl-mt-2.gl-sm-mt-0
          = _('Create a merge request branch target.')
          = link_to help_page_url('user/project/repository/branches/index', anchor: 'configure-workflows-for-target-branches'), target: '_blank', rel: 'noopener noreferrer' do
            = _("Learn more.")
      - c.with_body do
        - if can?(current_user, :admin_target_branch_rule, @project)
          .gl-new-card-add-form.gl-m-3.gl-display-none.js-toggle-content
            = gitlab_ui_form_for @project.target_branch_rules.new, url: project_target_branch_rules_path(@project) do |f|
              %h4.gl-mt-0= _("Add branch target")
              .form-group.row
                = f.label :name, _('Branch name pattern'), class: 'col-sm-12'
                .col-sm-6
                  = f.text_field :name, class: 'form-control gl-form-input', placeholder: _('eg. dev/*')
                  .form-text.text-muted
                    = _('Branches matching this string are retargeted. Wildcards are supported, and names are case-sensitive.')
              .form-group.row
                = f.label :target_branch, _("Target branch"), class: 'col-sm-12'
                .col-sm-6
                  = f.hidden_field :target_branch
                  #js-target-branch{ data: { project_id: @project.id } }
                  .form-text.text-muted
                    = _('The branch to merge into.')
              = f.submit _('Save'), pajamas_button: true
              = render Pajamas::ButtonComponent.new(button_options: { type: 'reset', class: 'gl-ml-2 js-toggle-button' }) do
                = _('Cancel')

        %div
          - if @target_branch_rules&.empty?
            %p.gl-new-card-empty.gl-px-5.gl-py-4.js-toggle-content
              = _("There are currently no merge request branch targets")
          - else
            %table.table.b-table.gl-table.b-table-stacked-md
              %colgroup
                %col{ width: "30%" }
                %col
                %col{ width: "100px" }
              %thead
                %tr
                  %th
                    = _("Branch name pattern")
                  %th
                    = _('Target branch')
                  %th.gl-text-right
                    = _('Actions')
              %tbody
                - @target_branch_rules&.each do |rule|
                  %tr
                    %td.ref-name{ class: "!gl-align-middle" }= rule.name
                    %td.ref-name{ class: "!gl-align-middle" }= rule.target_branch
                    %td{ class: "!gl-align-middle gl-text-right" }
                      - if can?(current_user, :admin_target_branch_rule, @project)
                        = render Pajamas::ButtonComponent.new(href: project_target_branch_rule_path(@project, rule), method: :delete, icon: 'remove', category: 'tertiary', button_options: { class: 'has-tooltip gl-ml-2', title: 'Delete', data: { confirm: _('Are you sure you want to delete this branch target?'), confirm_btn_variant: 'danger' } })
            - if @target_branch_rules
              = paginate @target_branch_rules, theme: 'gitlab'
